*{
    font-family: 'Roboto Condensed', sans-serif;
}
h1{
    font-size: 30px;
}
/* Welcome Section */
.welcome {
    display: flex;
    margin-left: 200px;
    margin-top: 20px;
}
.welcome .welcome-text{
    margin-top: -18px; 
}
.welcome-text div{
    border-left: 5px solid rgb(47, 253, 174);
    border-radius: 3px 0 0 3px;
}
.welcome .welcome-text h1{
    font-size: 50px;
    font-family: 'Lobster', 'cursive'; 
}
.welcome span{
    color: blue;
    font-family: 'Yeseva One';
}
.welcome-img {
    background-image: url(shapes/shape-9.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 20px;
    margin-left: 110px;
}
.welcome .welcome-img img { 
    width: 224px;
    border-radius: 5px;
}
.button{
    color: white;
    background: black;
    padding: 10px;
    border-radius: 0 10px;
    text-decoration: none;
}
/* Mission Section */
.mission{
    margin-top: 20px;
}
.mission span{
    color: blue;
    font-family: 'Merriweather';
}
.mission h1{
    text-align: center;
    font-weight: bolder;
    font-size: 50px;
    font-family: 'Lobster', cursive;
}
.mission-elem{
    display: flex;
    padding-top: 15px;
    margin-left: 75px;
}
.mission .card{
    width: 30%;
    border-radius: 20px 20px 20px 0;
    margin-left: 20px;
    padding-left: 15px;
    box-shadow: 10px 10px 50px gray;
}
.mission .card img{
    width: 100px;
}
#card-one{
    background-color:rgba(79, 157, 166, 0.1);
}
#card-two{
    background-color: rgba(255, 89, 89, 0.1);
}
#card-three{
    background-color:  #FFF4D6;
}
/* develop section */
.develop {
    display: flex;
    margin: 80px 0 0 180px;
}
.image{
    width: 30%;
    border-radius: 0 15px 0 15px;
}
.text{
    width: 65%;
    margin:5px 0 0 15px;
}
/* community section */
.community{
    display: flex;
    margin: 80px 0 0 180px;
}
/* Project section */
.projects{
    margin: 40px 0;
    background-color: rgb(80, 215, 233);
    border-radius: 0 15px ;
    width: 40%;
    margin-left: 445px;
}
.message{
    text-align: center;
    padding: 10px 0;
}
.input{
    width: 200px;
    height: 40px;
    margin: 0 0 10px 10px;
}
/* Contact Details */
.details {
    padding-top: 18px;
    margin: auto;
    width: 420px;
    border: 1px solid black;
    border-radius: 0 10px 0 10px;
}
.details h1{
   text-align: center;
   background-color: black;
   color: #fff;
   border-radius: 0px 10px; 
   margin-bottom: 0;
}
.contact{
    text-align: center;
    margin-left: -30px;  
}
.icon {
    margin-left: 55px;
    color: #000;
    font-size: 30px;
}

/* footer section */
footer{
    background-color: #000;
    text-align: center; 
    margin-top: 10px;
    color: white;
    padding: 5px 0;
}
footer h1{
    font-size: 50px;
    font-family: 'Lobster', 'cursive'; 
    color: white;
}
footer h1 span{
    color: red;
    font-family: 'Yeseva One';
}